@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 10px;
}

.section a{
    color: rgb(148, 27, 27);
    text-decoration: none;
    font-family: "Bebas Neua", sans-serif;
    font-size: 16px;
    text-align: center;
}

.titulo{
    color: rgb(148, 27, 27);
    text-align: center;
    font-family: "Bebas Neua", sans-serif;
}

.image{
    text-align: center;
}

body{
    background-color: rgba(0, 0, 0, 0.932);
}

.videos{
    text-align: center;
}

.voltar{
    text-align: center;
    background-color: rgb(148, 27, 27);
}